.container {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.title {
	font-size: 1.75rem;
}

.price {
	font-size: 150%;
	font-weight: bold;
}

.sideBox {
	border-radius: 1rem;
	border: 1px solid #e4e4e4;
	padding: 1rem;
}
